@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap');

:root {
  /* colors */
  --blue-1: #0D004D;
  --blue-2: #080891;
  --blue-3: #0022CC;

  --orange-1: #FFAA51;
  --orange-2: #FFD37A;

  --grayscale-1: #E7E4E4;
  --grayscale-2: #D7D4D4;

  --black: #2B2525;

  --white: #fff;

  /* typography */
  --lighter: 100;
  --light: 300;
  --regular: 500;
  --bold: 700;
  --bolder: 900;

  font-family: Inter, sans-serif;
  font-size: 1rem;

  color: var(--black);
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: var(--bold);
  font-size: 6rem;

  letter-spacing: -0.05rem;
}

h2 {
  font-weight: var(--bold);
  font-size: 3.75rem;

  letter-spacing: -0.05rem;
}

h3 {
  font-weight: var(--regular);
  font-size: 2rem;
}

h4 {
  font-weight: var(--regular);
  font-size: 1.25rem;
}

p.subtitle {
  font-weight: var(--regular);
  font-size: 1rem;

  letter-spacing: 0.05rem;
}

p.button {
  font-weight: var(--regular);
  font-size: 0.875rem;

  letter-spacing: 0.1rem;
}

p.caption {
  font-weight: var(--light);
  font-size: 0.875rem;

  letter-spacing: 0.1rem;
}

p {
  font-weight: var(--light);
  font-size: 1rem;
}

a {
  display: flex;
  align-items: center;
  gap: 0.2rem;

  padding: 0.2rem 0.4rem;

  border-radius: 4px;

  text-decoration: none;
  color: inherit;

  transition: all 0.2s;
}

a:hover {
  background-color: var(--blue-2);
  color: white;
}

/* shadows */
.shadow-1 {
  box-shadow: 2px 4px 2px #00000033;
}
